*{
    box-sizing: border-box;
}
body{
    text-transform: capitalize;
    color: white;
    font-family: 'Dosis', sans-serif;
    margin: 0%;
}
.cursive{
    font-family: 'Yellowtail', cursive;
}
h6{
    font-family: 'Crimson Text', serif;
}
h1{
    font-size: 2.0rem;
}

nav{
    width: auto;
    height: 180px;
    position: relative;
    background: #313131;
}
nav li:hover{
    color: black;
}
nav ul{
    margin: 0%;
}
nav li{
    float: left;
    width: 14.483333333%;
    text-align: center;
    list-style-type: none;
    color: white;
    margin-top: 42.5px;
    font-size: 1.5rem;
}
nav img{
    margin-top: 50px;
    height: 80px;
    width: 13.1%;
    float: left;
}
nav a{
    padding: 10px;
    border: 3px solid white;
    border-radius: 8px;
    text-decoration: none;
    color: white;
}
.navbutton{
    margin-top: 61.5px;
}
nav ul li span{
    font-size: 1rem;
}
[class*="cover-"]{
    float: left;
    width: 50%;
    height: 725px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
}
.underline{
    text-decoration: underline;
}
[class*="cover-"] h1{
    font-size: 3.7rem;
    margin: 0;
}
.main-author{
    font-size: 1.8rem;
}
.main-author i, .photo i, [class*="community-"] i{
    transform: rotate(-20deg);
}
.main-author i:hover, .photo i:hover, [class*="community-"] i:hover{
    transform: none;
}
.comment{
    margin: 0;
    text-align: right;
}
.hashtags{
    font-size: 1.2rem;
    margin: 25px 0;

}
.cover-section-1{
    background: #696767;
}
.cover-section-2{
    background: #424040;
}
.cover-section-3{
    background: #424040;
}
.cover-section-4{
    background: #696767;
}
[class*="article-"]{
    float: left;
    height: 548px;
    width: 33.333%;
    padding: 30px;
    text-align: justify;
}
[class*="article-"] h2{
    font-size: 2.0rem;
}
[class*="article-"] p{
    font-family: 'Crimson Text', serif;
    font-size: 1.5rem;
}
.article-1{
    background: #807b7b;
}
.article-2{
    background: #5c5959;
}
.article-3{
    background: #696767;
}
.ads{
    clear: left;
    background: azure;
    height: 680px;
    float: left;
    width: 100%;
    padding-top: 40px;
    margin-bottom: 40px;
}
.big-ad{
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    height: 660px;
    width: 75%;
    background: #2c2b2b;
    margin-left: 40px;
}
.big-ad div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.big-ad img{
    width: 50%;
    height: 290px;
}
.big-ad h1{
    margin-top: 0;
    font-size: 3.7rem;
    text-decoration: underline;
}
.big-ad a{
    border: 2px solid white;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    color: white;
}
.big-ad p{
    margin-top: 0;
    font-size: 1.5rem;
    padding: 0 80px;
    font-family: 'Crimson Text', serif;
}
.small-ad {
    float: left;
    height: 187px;
    width: 15%;
    padding: 0 5%;
    padding-top:20px;
   margin-left: 50px;
   margin-top: 20px;
    background: #807b7b;
    text-align: center;
}
.conference{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background: #2c2b2b;
    clear: left;
}
.conference span{
    font-family: 'Crimson Text', serif;
}
.conference div{
    margin: 10px 0;
    justify-content: inherit;
    display: inherit;
    align-items: inherit;
    flex-direction: inherit;
}
.conference h1{
    margin-top: 0;
    text-decoration: underline;
    font-size: 3.7rem;
}
.conference a{
    border: 2px solid white;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 8px;
}
.conference p{
    font-size: 1.3rem;
    padding: 0 120px;
    font-family: 'Crimson Text', serif;
}
.person-oftheweek{
    font-family: 'Crimson Text', serif;
    height: 330px;
}
.person-oftheweek h2{
    letter-spacing: 2px;
}
.person-oftheweek p{
    font-size: 1.5rem;
    letter-spacing: 1px;
}
.photo{
    float: left;
    height: inherit;
    width: 25%;
    background: #424040;
    font-size: 10.0rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.person-description{
    display: flex;
    justify-content: center;
    flex-direction: column;
    float: left;
    height: inherit;
    width: 75%;
    background: #494646;
}
[class*="community-"]{
    float: left;
    height: 230px;
    width: 50%;
    display: flex;
    align-items: center;
}
[class*="community-"] p{
    font-size: 1rem;
    letter-spacing: 1px;
    font-family: 'Crimson Text', serif;
}
[class*="community-"] span{
    margin-top: 26.560px;
}
[class*="community-"] h1{
    margin-top: 0;
}
[class*="community-"] i{
    margin-left: 20px;
    font-size: 5rem;
    padding: 0 20px;
}

.community-2, .community-3, .community-6 {
    background: #313131;
}
.community-1, .community-4, .community-5 {
    background: #4b4848;
} 
.book{
    clear: left;
    height: 420px;
    background: #2c2b2b;
    margin: 10px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.book p{
    padding-right: 25%;
}
.book a{
    border: 2px solid white;
    padding: 20px 40px;
    border-radius: 8px;
    width: 25%;
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
}
.book div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 40px;
}
.book h1{
    margin-top: 0;
    text-decoration: underline;
    font-size: 3.7rem;
    margin-bottom: 0;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    clear: left;
    background: #2c2b2b;
    width: 100%;
    height: 100vh;
}
footer li{
    float: left;
    margin-left: 50px;
    font-family: 'Crimson Text', serif;
}